body {
    text-align: center;
    font-family: 'Press Start 2P', cursive, sans-serif;
}

h1 {    
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

h3 {
   font-family: 'Press Start 2P', cursive, sans-serif;
   font-size: 20px; 
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 11px;
    display: inline-block;
    margin: 15px -15px 0px 0px;
}

hr {
    width: 40%;
}

.grid-hr {
    width: 70%;
}

table,
tr,
td {
    border: 1px solid black;
}

.td-border {
    border: 1px solid white;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 10px;
}

td {
    width: 10px;
}

input[type=number] {
    width: 3em;
}

/* Color picker */
input[type="color" i] {
    border-style: none;
    /*background-color: transparent;*/
    -webkit-appearance: none;
    border-color: #fff;
}

#colorPicker {
    padding: 0px 1px;
    width: 1.7em;
    height: 1.8em;
    cursor: pointer;
    background-color: #ccc;
}
/* End color picker */

.board {
  float: left;
  background-color: #fff;
  border: 2px solid black;
  margin: 1em;
  margin-top: 7em;
  padding: 1em;
  width: 21em;
  position: absolute;
  z-index: 1;
}

.header {  
  position: relative;
  width: 100%;
}

.container {
  position: relative;
  width: 100%;
}

.btn {
    padding: 1em 1em;
    background-color: #EFEFEF;
    border: 2px solid #ccc;
    font-family: 'Press Start 2P', cursive, sans-serif;
    font-size: 10px;
}

.btn:hover {
    background-color: #808080;
    color: #fff;
}

.create-btn {
    margin-top: 22px;
}

input.btn {    
    /*margin-left: -6px;*/
    margin-right: -9px;
    cursor: pointer;
}

.btn-margin {
    margin-left: -6px;
}

.custom {    
    background-color: #BBBBBB;
}

.reset {
    background-color: #d2fc78;
    margin: 13px 0px 25px 0px;
}
.reset:hover {
    background-color: #a6ec2f;
    color: #000;
}

form {
    display: none;
}



.white {
  background-color: #fff;
}

.black {
  background-color: #000;
}

.yellow {
  background-color: #feef47;
}

.red {
  background-color: #fa1944;
}

.green {
  background-color: #19ab21;
}

.blue {
  background-color: #1d7cf9;
}

.color {
    width: 1em;
    height: 1em;
    border: 3px solid #ccc;
    display: inline-block;
    cursor: pointer;  
}

.settings {
    position: absolute;
    text-align: center;
    margin-left: 18em;
    z-index: 1;
    background-color: #459fff;
    color: #fff;
}

.visible-brd {
  display: none;
}

#pixelCanvas {
  margin-top: 2em;
  margin-bottom: 2em;
}

.bg-white {
  background-color: #fff;
}

.close {
  float: right;
  background-color: #459fff;
  color: #fff;
  padding: 0.5em;
  margin: -1em;
}

/* RESPONSIVE */
@media (max-width: 1350px) {
  hr {
    width: 36em;
  }
}

@media (min-width: 1440px) {
  .board {
    display: block;
  }
}